* { 
    text-align: center;
    font-family: 'nunitoextralight';
}

body {
    background: linear-gradient(-45deg, #68B0AB, #8FC0A9, #C8D5B9, #FAF3DD);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 100vh;

    width: 90%;
    margin: auto;
}

@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
    font-family: 'nunitoextralight';
    src: url('nunito-variablefont_wght-webfont.woff2') format('woff2'),
         url('nunito-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    align-self: center;
    display: flex; 
    font-weight: bold;
    width: 75%;
    margin: auto;
}

#nav-name {
    font-weight: strong;
    padding-left: 60px;
}

ul {
    align-items: right;
    text-align: center;
    display: flex;
    list-style: none;
    padding: 30px 0px 30px 0px;
    margin: auto;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    padding: 10px 20px;

    border-radius: 25px;
    border: 2px solid transparent;
}

ul li a:hover {
    border-color: azure;
}

header h1 {
    font-weight: bold;
    
}

h1 {
    text-align: left;
}

.row{
    display: flex;
}

.column{
    float: 50%;
}