* { 
    text-align: center;
    font-family: 'nunitoextralight';
    
}

body {
    background: linear-gradient(-45deg, #68B0AB, #8FC0A9, #C8D5B9, #FAF3DD);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
}

@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
    font-family: 'nunitoextralight';
    src: url('nunito-variablefont_wght-webfont.woff2') format('woff2'),
         url('nunito-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex; 
    font-weight: bold;
    position: sticky;
}

ul {
    align-items: center;
    text-align: center;
    display: flex;
    list-style: none;
    padding: 30px;
    margin: auto;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    padding: 10px 20px;

    border-radius: 25px;
    border: 2px solid transparent;
}

ul li a:hover {
    border-color: azure;
}

header {font-weight: bold;}

.collection {
    margin: 0 auto;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 15px;

    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    overflow: hidden;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px 8px 8px;
}